version: "3.9"

services:
  mqtt2json:
    build: .
    container_name: mqtt2json
    restart: unless-stopped
    environment:
      MQTT_BROKER: "172.17.73.34"
      MQTT_PORT: "1883"
      MQTT_USERNAME: ""          # or set real user
      MQTT_PASSWORD: ""          # or set real password
      TOPICS_FILE: "/app/topics.txt"
      WINDOW_SECONDS: "55"       #  control window size here

    volumes:
      - ./Data:/app/Data
      - ./topics.txt:/app/topics.txt:ro
    # If your broker is reachable on the host network and that IP is on host:
    # network_mode: "host"
